{{ with .Site.Params.actions -}}
<section class="actions">
  <h1>Contact me!</h1>
  <form action="{{ .url }}" method="post">      
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <input name="subject" type="text" class="feedback-input" placeholder="Subject" />
    <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>
{{- end }}
